<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.freelance.mapper.AdminMapper">
    <update id="update">
        update   admin
        <set>
            <if test="username!= null ">username = #{username},</if>
            <if test="password != null ">password = #{password},</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteBatch">
        delete from admin where id in
        <foreach collection="selectedIds" item="id" separator="," open="(" close=")">#{id}</foreach>
    </delete>

    <select id="pageQuery" resultType="org.example.freelance.pojo.User">
        select *  from  user
        <where>
            <if test="search!= null and search!= ''">
                and name like concat('%',#{search},'%')
                or sex like concat('%',#{search},'%')
                or credit like concat('%',#{search},'%')
                or phone like concat('%',#{search},'%')
                or address like concat('%',#{search},'%')
                or description like concat('%',#{search},'%')
                or openid like concat('%',#{search},'%')
            </if>
        </where>
        order by createtime desc
    </select>
    <select id="taskPageQuery" resultType="org.example.freelance.pojo.Task">
        select *  from  tasks
        <where>
            <if test="search!= null and search!= ''">
                and taskname like concat('%',#{search},'%')
                or tasktype like concat('%',#{search},'%')
                or taskpayment like concat('%',#{search},'%')
                or taskstatus like concat('%',#{search},'%')
                or phone like concat('%',#{search},'%')
                or createtime like concat('%',#{search},'%')
                or endtime like concat('%',#{search},'%')
                or taskdesc like concat('%',#{search},'%')
                or location like concat('%',#{search},'%')
                or taskid like concat('%',#{search},'%')
            </if>
        </where>
        order by createtime desc

    </select>
    <select id="companyPageQuery" resultType="org.example.freelance.pojo.Company">
        select *  from  company
        <where>
            <if test="companyname!= null and companyname!= '' ">
                and companyname like concat('%',#{companyname},'%')
            </if>
            <if test=" address!= null and address!= ''">
                or address like concat('%',#{address},'%')
            </if>
        </where>
        order by createtime desc
    </select>
    <select id="adminPageQuery" resultType="org.example.freelance.pojo.Admin">
        select *  from  admin
        <where>
            <if test="search!= null and search!= ''">
                and username like concat('%',#{search},'%')
            </if>
        </where>
    </select>
</mapper>