<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.freelance.Mapper.TasksMapper">

    <delete id="deleteBatch">
        delete from tasks where taskid in
                <foreach collection="selectedIds" item="taskid" separator="," open="(" close=")">#{taskid}</foreach>
    </delete>
</mapper>